body{
background-image: url(../img/Dollars-Cash-1920x1200.jpg);
color: rgb(20, 85, 142);
text-align: center;
}

header{

    background-color: yellow !important;
    
}


.container, header{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color:aquamarine;
    margin:10px auto;
}

.containerbox{
    width: 50%;
    margin:10px auto;
}

button, input, select, h3{
    width: 170px;
    margin: 0px 0px 8px 0px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

button{
    background-color: deepskyblue;
    color:white;
    border-color: deepskyblue;
}
canvas{
    background-color: white;
}
